body {
    background: #f9fafb;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 30px;
}

.title {
    font-family: Arial;
    color: #6c41ec;
}

.content {
    display: inline-block;
    float: none;
}